body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #0f3c2c, #0a0a0a);
  color: #b2f2bb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.container {
  background: #111;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,255,150,0.1);
  text-align: center;
  width: 300px;
}

h1 {
  color: #48d59e;
  margin-bottom: 30px;
  font-size: 28px;
}

form input {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
  background: #222;
  color: #fff;
}

form button {
  width: 100%;
  padding: 12px;
  background: #3ed7a3;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  color: #111;
  cursor: pointer;
  margin-top: 10px;
}

form button:hover {
  background: #2ecc90;
}

.signup-link {
  margin-top: 15px;
  font-size: 14px;
  color: #88ffcc;
  cursor: pointer;
}